<!DOCTYPE html>
<html>
  <head>
    <title>MLog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="banner-wrapper">
        <div class="logo-img"><%= image_tag 'logo_img.png' %></div>
        <div class="banner">
          <div class="top">
            <div class="logo">
              <svg id="logo" width="105" height="35" viewBox="0 0 105 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M25.5322 6.07324L25.4468 6.05615L17.3975 26H15.1587L7.10938 6.07324L7.02393 6.09033L7.36572 16.1562V23.3682L10.1514 23.8467V26H1.21338V23.8467L3.99902 23.3682V3.76611L1.21338 3.2876V1.11719H3.99902H8.30566L16.2354 21.3345H16.3379L24.2505 1.11719H31.3599V3.2876L28.5742 3.76611V23.3682L31.3599 23.8467V26H22.4219V23.8467L25.2075 23.3682V16.1562L25.5322 6.07324Z" stroke="white" stroke-width="1" mask="url(#path-1-outside-1)"/>
                <path d="M43.562 16.8057H35.2051V14.1738H43.562V16.8057Z" stroke="white" stroke-width="1" mask="url(#path-1-outside-1)"/>
                <path d="M47.4243 26V23.8467L50.21 23.3682V3.76611L47.4243 3.2876V1.11719H50.21H53.5767H56.3623V3.2876L53.5767 3.76611V23.3682H62.2241L62.4805 20.5142H65.3516V26H47.4243Z" stroke="white" stroke-width="1" mask="url(#path-1-outside-1)"/>
                <path d="M68.2568 16.5835C68.2568 13.8491 68.9974 11.599 70.4785 9.83301C71.9596 8.05566 73.9705 7.16699 76.5112 7.16699C79.0633 7.16699 81.0799 8.04997 82.561 9.81592C84.0535 11.5819 84.7998 13.8377 84.7998 16.5835V16.9595C84.7998 19.7166 84.0592 21.9725 82.5781 23.7271C81.097 25.4816 79.0861 26.3589 76.5454 26.3589C73.9819 26.3589 71.9596 25.4816 70.4785 23.7271C68.9974 21.9611 68.2568 19.7052 68.2568 16.9595V16.5835ZM71.6235 16.9595C71.6235 18.9191 72.0337 20.5369 72.854 21.813C73.6857 23.089 74.9162 23.7271 76.5454 23.7271C78.1405 23.7271 79.3538 23.089 80.1855 21.813C81.0173 20.5369 81.4331 18.9191 81.4331 16.9595V16.5835C81.4331 14.6466 81.0173 13.0345 80.1855 11.7471C79.3538 10.4596 78.1291 9.81592 76.5112 9.81592C74.8934 9.81592 73.6743 10.4596 72.854 11.7471C72.0337 13.0345 71.6235 14.6466 71.6235 16.5835V16.9595Z" stroke="white" stroke-width="1" mask="url(#path-1-outside-1)"/>
                <path d="M87.9102 17.0962C87.9102 14.1226 88.5596 11.7243 89.8584 9.90137C91.1572 8.07845 92.9517 7.16699 95.2417 7.16699C96.4038 7.16699 97.4235 7.39486 98.3008 7.85059C99.1781 8.30632 99.9129 8.96712 100.505 9.83301L100.813 7.50879H103.65V25.7607C103.65 28.1533 102.983 30.0332 101.65 31.4004C100.317 32.779 98.4204 33.4683 95.9595 33.4683C95.0708 33.4683 94.1081 33.3429 93.0713 33.0923C92.0345 32.853 91.123 32.5226 90.3369 32.1011L91.2085 29.4863C91.8351 29.8167 92.5757 30.0902 93.4302 30.3066C94.2847 30.5231 95.1164 30.6313 95.9253 30.6313C97.4292 30.6313 98.5286 30.2098 99.2236 29.3667C99.93 28.5236 100.283 27.3216 100.283 25.7607V24.0005C99.6794 24.7752 98.9559 25.362 98.1128 25.7607C97.2697 26.1595 96.3013 26.3589 95.2075 26.3589C92.9403 26.3589 91.1572 25.5386 89.8584 23.8979C88.5596 22.2573 87.9102 20.1097 87.9102 17.4551V17.0962ZM91.2769 17.4551C91.2769 19.3122 91.6699 20.8047 92.4561 21.9326C93.2422 23.0605 94.4385 23.6245 96.0449 23.6245C97.0589 23.6245 97.9077 23.3966 98.5913 22.9409C99.2749 22.4738 99.8389 21.8187 100.283 20.9756V12.4648C99.8503 11.6787 99.2863 11.0578 98.5913 10.6021C97.8963 10.1349 97.0589 9.90137 96.0791 9.90137C94.4727 9.90137 93.2707 10.5736 92.4731 11.918C91.6756 13.2624 91.2769 14.9884 91.2769 17.0962V17.4551Z" stroke="white" stroke-width="1" mask="url(#path-1-outside-1)"/>
              </svg>
            </div>
            <div class="right-top">
              <%= link_to "post", new_post_path, class: "header-right-text" %>
            </div>
          </div>
          <div class="nav">
            <ul class="menu">
              <li><a href=""><%= link_to "Home", root_path %></a></li>
              <li><a href="">Docs</a></li>
              <li><a href="">About</a></li>
              <li><a href="">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="contents">
        <%= yield %>
      </div>
      <footer>
      </footer>
    </div>
  </body>
</html>
